#nav__button {
  width: 39px;
  overflow: hidden;
}

#nav__checkbox {
  display: none;
}

#nav__label {
  position: relative;
  display: block;
  height: 29px;
  cursor: pointer;
}

#nav__label:before,
#nav__label:after,
#nav__text_bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
}

#nav__label:before,
#nav__label:after {
  content: '';
  -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#nav__label:before {
  top: 0;
}

#nav__label:after {
  top: 12px;
}

#nav__text_bar {
  top: 24px;
}

#nav__text_bar:before {
  content: 'MENU';
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-align: center;
}

#nav__checkbox:checked + #nav__label:before {
  left: -39px;
}

#nav__checkbox:checked + #nav__label:after {
  left: 39px;
}

#nav__checkbox:checked + #nav__label #nav__text_bar:before {
  -webkit-animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
          animation: moveUpThenDown 0.8s ease 0.2s forwards, shakeWhileMovingUp 0.8s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.8s forwards;
}

@-webkit-keyframes moveUpThenDown {
  0% {
    top: 0;
  }
  50% {
    top: -27px;
  }
  100% {
    top: -14px;
  }
}

@keyframes moveUpThenDown {
  0% {
    top: 0;
  }
  50% {
    top: -27px;
  }
  100% {
    top: -14px;
  }
}

@-webkit-keyframes shakeWhileMovingUp {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingUp {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  25% {
    -webkit-transform: rotateZ(-10deg);
            transform: rotateZ(-10deg);
  }
  50% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  75% {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@-webkit-keyframes shakeWhileMovingDown {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  80% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  90% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingDown {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  80% {
    -webkit-transform: rotateZ(3deg);
            transform: rotateZ(3deg);
  }
  90% {
    -webkit-transform: rotateZ(-3deg);
            transform: rotateZ(-3deg);
  }
  100% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
}
/*# sourceMappingURL=styles.css.map */